{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">Add Expense</h4>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Expense</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}